version: "3.9"

services:
  db:
    image: postgres:16
    container_name: property_db
    restart: always
    env_file:
      - .env
    ports:
      - "5434:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: property_app
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8081:8081"

volumes:
  db_data:
